.about-div {
  display: flex;
  padding: 3.5rem;
  position: relative;
  text-align: center;
  margin: auto;
  align-items: center;
}

.social-media-icon {
  height: 40px;
  width: 40px;
}

.name {
  font-weight: 700;
  font-size: xx-large;
}

.job-title {
  font-weight: 700;
  font-size: x-large;
}

.profile-img {
  height: 100%;
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 1;
}

.card-body {
  padding: 0;
  padding-left: 1.25rem !important;
}

.icons-list-div {
  display: flex;
  flex-flow: inherit;
}

@media screen and (max-width: 768px) {
  .about-div {
    flex-direction: column;
  }
}
